

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #080707;
    background-color: #fff;
}

header {
    background-color: rgb(238, 159, 84);
    color: rgb(20, 19, 19);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(20, 19, 19);
    text-decoration: none;
}

.hero {
    background-color: orange;
    color: white;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(172, 70, 2, 0.2);
}

.join-button {
    background-color: rgb(43, 42, 40);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.join-button:hover {
    background-color: darkorange;
}

section {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.services ul {
    list-style: none;
    padding: 0;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgb(206, 136, 79);
    color: white;
    text-align: center;
    padding: 10px 0;
}
